@import './../generals/globals';

.contenido {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 0px;
    background-color: #FFF;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .serviciosTitulo {
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 35px;
    }

    .grid-servicios {
        display: grid;
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
